
.boutton{
    font-size: 1.3em;
    background: white;
    border:none;
    width: 80px;
    height: 80px;
    padding: 5px;
    box-shadow: none;
}
.boutton1{
    font-size: 1.3em;
    border: none;
    background: darkorange;
}
.boutton2{
    background: gold;
    width: 320px;
}
.boutton3{
    font-size: 1.3em;
    width: 160px;
    border: none;
    background: darkorange;
}


.text{
    background-color: white;
    margin: 20px;
    margin-top: 50px;
    padding: 10px;
    width: 20%;
}
.answer{
    text-align: center;
    color: white;
    margin-bottom: 0px;
    width: 100%;
}
.calculatrice{
    text-align: center;
    width: 100%;
    height: 70%;
    padding-bottom: 20px;
}